<!DOCTYPE html>
<html>
  <head>
    <title>绵羊墙</title>
    <meta charset="UTF-8" />
    <!-- css -->
    <link href="../../stati../../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../stati../../static/assets/css/summernote-bs3.css">
    <link href="../../stati../../static/assets/css/minimal.css" rel="stylesheet">
    <style>
    .gradeA td{font-family:"微软雅黑";}
    </style>
  </head>
  <body class="bg-1">    
        <div id="content" class="col-md-12" >
          <div class="main">
            <!-- row -->
            <div class="row">
              <!-- col-md-12 -->
              <div class="col-md-12"> 
                <!-- 列表 -->
                <section class="tile transparent tile-height" style="height:60%;">
                  <!-- 标题 -->
                  <div class="tile-header transparent">
                    <h1>移动终端漏洞详情</h1>
                  </div>
                  <!-- 列表-表头 -->
                  <div class="tile-body color transparent-white rounded-corners padding">
                    
                    <div class="table-responsive">
                        <table  class="table table-datatable table-custom" id="inlineEditDataTable ">
                            <thead>
                                <tr class="odd gradeA">
                                    <td class="sort-alpha sort-alpha-width">用户头像</td>
                                    <td class="sort-alpha sort-alpha-two">IP地址</td>
                                    <td class="sort-amount sort-amount-width">操作系统版本</td>
                                    <td class="sort-numeric">漏洞详情</td>
                                </tr>
                            </thead>
                        </table >
                    </div>
                  </div>
                   <!-- 列表-表单 -->
                  <div id="demo" class="tile-body color transparent-white transparent-height" style="height:74%;  border-top:0;">                   
                    <div id="demo1" class="table-responsive;">
                      <table  class="table table-datatable table-custom" id="inlineEditDataTable">
                        
                        
                          <tr class="odd gradeA" style="border-top:1px solid rgba(134, 219, 245, 0.1);" >
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td> CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size sort-alpha-width" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td> CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td>CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td>CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td> CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td> CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td>CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td> CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td> CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>
                          <tr class="odd gradeA">
                            <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                            <td class="sort-alpha-two">192.168.60.20</td>
                            <td class="sort-amount-width">IPhone7</td>
                            <td> CVE-2016-8570(Yandex Browser for iOS)</td>
                          </tr>                       
                      </table>
                    </div>
                    <div id="demo2"></div>  
                  </div>
                 <!-- 列表-表单end -->
                </section>
                <!-- 列表end -->
                <!-- OS比例    -->
                <section class="tile color transparent-black">
                  <!-- 饼图1 -->
                  <div class="transparent-black-body">
                    <div class="tile-body tile-body-padding">
                        <div id="browser-usage" class="morris-chart" ></div>
                        <ul class="chart-legend" style="float:left;">
                            <li><span class="badge badge-outline" style="border-color: #00a3d8;"></span> IOS</li>
                            <li><span class="badge badge-outline" style="border-color: #d9544f;"></span> Andriod</li>
                            <li><span class="badge badge-outline" style="border-color: #ffc100;"></span> Windows</li>
                        </ul>
                    </div>
                  <!-- 饼图2 -->
                    <div class="tile-body tile-body-padding">
                        <div id="browser-usage-one" class="morris-chart"></div>
                        <ul class="chart-legend inline text-center">
                            <li><span class="badge badge-outline" style="border-color: #00a3d8"></span> 百度</li>
                            <li><span class="badge badge-outline" style="border-color: #2fbbe8"></span> 优酷</li>
                            <li><span class="badge badge-outline" style="border-color: #72cae7"></span> 新浪微博</li>
                            <li><span class="badge badge-outline" style="border-color: #d9544f"></span> 微信 </li>
                            <li><span class="badge badge-outline" style="border-color: #ffc100"></span> QQ</li>
                            <li><span class="badge badge-outline" style="border-color: #1693A5"></span> 迅雷</li>
                        </ul>
                    </div>
                  </div>
                </section>
                <!-- OS比例end    -->
              </div>  
              <!-- col-md-12 end-->              
            </div>
            <!-- row end -->
          </div>
        </div>

    <!-- jQuery-->
    <script src="../../static/assets/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/assets/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript" src="../../static/assets/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="../../static/assets/js/jquery.nicescroll.min.js"></script>
    <script src="../../static/assets/js/raphael-min.js"></script> 
    <script src="../../static/assets/js/morris.min.js"></script>
    <script>
    
    <!-- 信息滚动js --> 
    var speed = 80;  // 滚动速度
    demo2.innerHTML = demo1.innerHTML;  
    function Marquee() {  
        if (demo2.offsetTop - demo.scrollTop <= 0) {  
            demo.scrollTop -= demo1.offsetHeight;  
        } else {  
            demo.scrollTop++;  
        }  
    }  
    var MyMar = setInterval(Marquee, speed);    
    demo.onmouseover = function() {  
        clearInterval(MyMar);  
    }  
  
    demo.onmouseout = function() {  
        MyMar = setInterval(Marquee, speed);  
    }  
    <!-- OS比例js--> 
    $(function(){
    Morris.Donut({
        element: 'browser-usage',
        data: [
          {label: "Chrome", value: 60},            <!-- 此处更换饼图数据--> 
          {label: "Internet Explorer", value: 2},
          {label: "Other", value: 3}
        ],
        colors: ['#00a3d8', '#d9544f', '#ffc100', '#1693A5']
    });

    Morris.Donut({
        element: 'browser-usage-one',
        data: [
          {label: "Chrome", value: 90},    <!-- 此处更换饼图数据-->  
          {label: "Safari", value: 2},
          {label: "Firefox", value: 2},
          {label: "Opera", value: 2},
          {label: "Internet Explorer", value: 2},
          {label: "Other", value: 2}
        ],
        colors: ['#00a3d8', '#2fbbe8', '#72cae7', '#d9544f', '#ffc100', '#1693A5']
    });

    $('#browser-usage').find("path[stroke='#ffffff']").attr('stroke', 'rgba(0,0,0,0)');
    $('#browser-usage-one').find("path[stroke='#ffffff']").attr('stroke', 'rgba(0,0,0,0)');

    //sparkline charts
    $('#projectbar1').sparkline('html', {type: 'bar', barColor: '#22beef', barWidth: 4, height: 20});
    $('#projectbar2').sparkline('html', {type: 'bar', barColor: '#cd97eb', barWidth: 4, height: 20});
    $('#projectbar3').sparkline('html', {type: 'bar', barColor: '#a2d200', barWidth: 4, height: 20});
    $('#projectbar4').sparkline('html', {type: 'bar', barColor: '#ffc100', barWidth: 4, height: 20});
    $('#projectbar5').sparkline('html', {type: 'bar', barColor: '#ff4a43', barWidth: 4, height: 20});
    $('#projectbar6').sparkline('html', {type: 'bar', barColor: '#a2d200', barWidth: 4, height: 20});
 
    })
      
    </script>
  </body>
</html>
      
