<!DOCTYPE html>
 
<html>
  <head>
    <title>绵羊墙</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">  
    <meta charset="UTF-8" />

    <!-- css -->
    <link href="../../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/assets/css/summernote-bs3.css">
    <link href="../../static/assets/css/minimal.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/assets/css/style.css" media="screen" type="text/css" />
<style>
    body div{font-family:"微软雅黑";}
    .bg {
    background-image: url(../../static/assets/images/backgrounds/2.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; }
</style>
  </head>
  <body class="bg-1">            
        <div id="content" class="col-md-12">
          <div class="main">
          <!-- row -->
            <div class="row">
             <!-- col 12 -->
              <div class="col-md-12"> 
                <!-- 列表 -->              
                <section class="tile transparent tile-height" style="height:65%;">
                  <!-- 标题 -->
                  <div class="tile-header transparent">
                    <h1 style="font-family:微软雅黑">移动终端信息展示</h1>
                  </div>
                  <!-- 列表-表头 -->    
                  <div class="tile-body color transparent-white padding">                   
                    <div class="table-responsive">
                        <table  class="table table-datatable table-custom" id="inlineEditDataTable ">
                            <thead>
                                <tr class="odd gradeA">
                                    <td class="sort-alpha sort-alpha-width">用户头像</td>
                                    <td class="sort-alpha sort-alpha-two">用户昵称</td>
                                    <td class="sort-amount sort-amount-width">操作系统</td>
                                    <td class="sort-numeric">当前行为</td>
                                </tr>
                            </thead>
                        </table >
                    </div>
                  </div>
                   <!-- 列表-表单 -->
                  <div id="demo" class="tile-body color transparent-white transparent-height" style="height:74%;">                    
                    <div id="demo1" class="table-responsive;">
                      <table  class="table table-datatable table-custom" id="inlineEditDataTable">
                          {% for wifiuser, behavior in sheep_users.iteritems %}
                              <tr class="odd gradeA" >
                                <td class="img-size" ><img src="../../static/assets/images/erweima.png"  alt="picture" /></td>
                                <td class="sort-alpha-two">{{ wifiuser.wechat_nickname }}</td>
                                <td class="sort-amount-width">{{ wifiuser.os_type }}</td>
                                {% if behavior.application %}
                                    <td> 正在使用 {{ behavior.application }}，进行{{ behavior.behavior }}</td>
                                {% else %}
                                    <td> 暂无操作 </td>
                                {% endif %}
                              </tr>
                          {% endfor %}
                      </table>
                    </div>                    
                    <div id="demo2"></div>  
                  </div>
                </section>
                <!-- 列表end -->
                <!-- 二维码box -->                
                <section class="tile color transparent-black transparent-black-add">
                  <div class="tile-body tile-height-one" >
                    <button class="md-trigger" data-modal="modal-11" style="border:0; padding:0;"></button> 
                    <!-- 二维码-->    
                    <div class="morris-chart morris-chart-height" >
                         <span style=" text-align:center; display:block;">扫码关注我们</span>
                         <img src="../../static/assets/images/erweima1.png"  alt="picture" style="background-color:#ffffff;" style=" height:auto;min-width:100%;" />
                    </div>
                  </div>
                  <!-- /tile body --> 
                </section>
                <!-- 二维码box end -->    
              </div>
              <!-- /col 12 -->              
            </div>
            <!-- /row -->
          </div>
        </div>
        
        
        <!-- 弹出页面 -->
        <div class="md-modal md-effect-11 " id="modal-11">            
            <div class="md-content " >
                <!-- 用户头像-->
                <div class="img" >
                    <img class="headimg" src="../../static/assets/images/backgrounds/33333.jpg"  alt="picture"/>
                </div>
                <!-- 用户各种信息-->
                <div class="popup bg">                     
                    <div class="popup-box">
                        <!-- 基本信息-->
                        <div class="popup-title" >
                            <ul>
                                <li>微信昵称：<span>小佳</span></li>
                                <li>操作系统：<span>IPhone</span></li>
                                <li style="margin-right:0;"><strong>IP地址:</strong><span>192.16.2.8</span></li>                
                            </ul>            
                        </div>
                        <!-- 上网行为-->
                        <div class="popup-behavior">
                            <ul>
                                <li>最近上网行为：<span>微信朋友圈></span>
                                    <span>网页浏览></span>
                                    <span>新浪微博></span>
                                    <span>优酷</span>
                                </li>            
                            </ul>                
                        </div>
                        <!-- 浏览时间轴-->
                        <div class="popup-timeline">
                            <div class="timeimg"><img src="../../static/assets/images/backgrounds/top.png"  alt="picture"/></div>
                            <div class="timeline" style="width:90%;">
                                <ul>
                                    <li class="list list-right">
                                        <span><img src="../../static/assets/images/backgrounds/one.png"  alt="picture"/></span>
                                        <span class="txt-box">
                                            <p class="txt">上午10点</p>
                                            <p>访问微信朋友圈</p>
                                        </span>
                                    </li>
                                    <li class="list list-left">
                                        <span class="txt-box">
                                            <p class="txt">下午3点</p>
                                            <p>访问微信朋友圈</p>
                                        </span>
                                        <span><img src="../../static/assets/images/backgrounds/two.png"  alt="picture"/></span>                            
                                    </li>    
                                    <li class="list list-right">
                                        <span><img src="../../static/assets/images/backgrounds/three.png"  alt="picture"/></span>
                                        <span class="txt-box">
                                            <p class="txt">中午12点</p>
                                            <p>访问微信朋友圈</p>
                                        </span>
                                    </li>
                                    <li class="list list-left">
                                        <span class="txt-box">
                                            <p class="txt">中午12：02</p>
                                            <p>访问微信朋友圈</p>
                                        </span>
                                        <span><img src="../../static/assets/images/backgrounds/four.png"  alt="picture"/></span>                            
                                    </li>    
                                    <li class="list list-right">
                                        <span><img src="../../static/assets/images/backgrounds/five.png"  alt="picture"/></span>
                                        <span class="txt-box">
                                            <p class="txt">中午12：09</p>
                                            <p>访问微信朋友圈</p>
                                        </span>
                                    </li> 
                                </ul>
                            </div>                
                        </div>
                        <!-- 浏览时间轴 end-->
                        <!-- 用户画像-->
                        <div class="popup-img">
                            <span>
                            <img src="../../static/assets/images/backgrounds/33333.jpg"  alt="picture"/>
                            <img src="../../static/assets/images/backgrounds/33333.jpg"  alt="picture"/>
                            <img src="../../static/assets/images/backgrounds/33333.jpg"  alt="picture"/>
                            <img src="../../static/assets/images/backgrounds/33333.jpg"  alt="picture"/>
                            <img src="../../static/assets/images/backgrounds/33333.jpg"  alt="picture"/>
                            </span>
                        </div>    
                        <!-- 用户画像 end-->
                    </div>  
                </div>
                <!-- 用户各种信息 end-->
            </div>
        </div>        
        <div class="md-overlay"></div><!-- the overlay element -->
        <!-- 弹出页面 end -->
        
        <script>
            // this is important for IEs
            var polyfilter_scriptpath = '/js/';
        </script>
        <script src="../../static/assets/js/index.js"></script>
        
        <!-- 信息滚动js -->
        <script type="text/javascript">  
        var speed = 80;  // 滚动信息速度
        demo2.innerHTML = demo1.innerHTML;  
        function Marquee() {  
            if (demo2.offsetTop - demo.scrollTop <= 0) {  
                demo.scrollTop -= demo1.offsetHeight;  
            } else {  
                demo.scrollTop++;  
            }  
        }  
        var MyMar = setInterval(Marquee, speed);   
        demo.onmouseover = function() {  
            clearInterval(MyMar);  
        }   
        demo.onmouseout = function() {  
            MyMar = setInterval(Marquee, speed);  
        }  
        </script>  
  </body>  
</html>
      
