<!DOCTYPE html>
 
<html>
  <head>
    <title>绵羊墙</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">  
    <meta charset="UTF-8" />

    <!-- css -->
    <link href="../../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/assets/css/summernote-bs3.css">
    <link href="../../static/assets/css/minimal.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/assets/css/style.css" media="screen" type="text/css" />
<style>
    body div{font-family:"微软雅黑";}
    .bg {
    background-image: url(../../static/assets/images/backgrounds/2.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; }
</style>
  </head>
  <body class="bg-1">
        <div id="content" class="col-md-12">
          <div class="main">
          <!-- row -->
            <div class="row">
             <!-- col 12 -->
              <div class="col-md-12">
                <!-- 列表 -->
                <section class="tile transparent tile-height" style="height:65%;">
                  <!-- 标题 -->
                  <div class="tile-header transparent">
                    <h1 style="font-family:微软雅黑">移动终端信息展示</h1>
                  </div>
                  <!-- 列表-表头 -->
                  <div class="tile-body color transparent-white padding">
                    <div class="table-responsive">
                        <table  class="table table-datatable table-custom" id="inlineEditDataTable ">
                            <thead>
                                <tr class="odd gradeA">
                                    <td class="sort-alpha sort-alpha-width">用户头像</td>
                                    <td class="sort-alpha sort-alpha-two">用户昵称</td>
                                    <td class="sort-amount sort-amount-width">操作系统</td>
                                    <td class="sort-numeric">当前操作</td>
                                </tr>
                            </thead>
                        </table >
                    </div>
                  </div>
                   <!-- 列表-表单 -->
                  <div id="demo" class="tile-body color transparent-white transparent-height" style="height:74%;">
                      <table  class="table table-datatable table-custom" id="inlineEditDataTable" style="border-collapse:collapse; ">
                          {% for wifiuser, behavior in sheep_users.iteritems %}
                              <tr class="odd gradeA" >
                                <td class="img-size" ><img src="../../static/assets/images/wifiuserimgs/headimg/{{ wifiuser.local_ip }}.jpg"  alt="picture" /></td>
                                <td class="sort-alpha-two">{{ wifiuser.wechat_nickname }}</td>
                                {% if behavior.application %}
                                    {% ifequal behavior.client '' %}
                                    <td class="sort-amount-width">Unknown</td>
                                    {% else %}
                                    <td class="sort-amount-width">{{ behavior.client }}</td>
                                    {% endifequal %}
                                    <td> 正在使用 <span style="color:#35ff8f;">{{ behavior.application }}，</span>进行 <span style="color:#35ff8f;">{{ behavior.behavior }}</span></td>
                                {% else %}
                                    <td class="sort-amount-width">Unknown</td>
                                    <td> 暂无操作 </td>
                                {% endif %}
                              </tr>
                          {% endfor %}

                      </table>


                  </div>
                </section>
                <!-- 列表end -->
                <!-- 二维码box -->
                <section class="tile color transparent-black transparent-black-add">
                  <div class="tile-body tile-height-one" >
                    <button class="md-trigger" data-modal="modal-11" style="border:0; padding:0;"></button>
                    <!-- 二维码-->
                    <div class="morris-chart morris-chart-height" >
                         <span style=" text-align:center; display:block;">扫码关注我们</span>
                         <img src="../../static/assets/images/erweima1.png"  alt="picture" style="background-color:#ffffff;" style=" height:auto;min-width:100%;" />
                    </div>
                  </div>
                  <!-- /tile body -->
                </section>
                <!-- 二维码box end -->
              </div>
              <!-- /col 12 -->
            </div>
            <!-- /row -->
          </div>
        </div>


        <!-- 弹出页面 -->
        <div class="md-modal md-effect-11 " id="modal-11">

        </div>
        <div class="md-overlay"></div>
        <!-- 弹出页面 end -->

        <script>
            // this is important for IEs
            var polyfilter_scriptpath = '/js/';
        </script>
        <script src="../../static/assets/js/jquery.js" charset="UTF-8"></script>
        <script src="../../static/assets/js/index.js" charset="UTF-8"></script>
        
        <!-- 信息滚动js -->
        <script>   
        function marques(lh,speed,delay){    
            var intervalFunction;    
            var oHeight = 210; /** div的高度 **/  
            var scrollDiv=document.getElementById("demo");    
            var preTop = 0;   
            scrollDiv.scrollTop = 0;   
        //var p=false;   
         
            function start(){    
                intervalFunction=setInterval(scrolling,speed);       
            };    
        
            function scrolling(){  
                if( scrollDiv.scrollHeight-scrollDiv.offsetHeight<scrollDiv.scrollTop){   
                    preTop = scrollDiv.scrollTop;   
                    scrollDiv.scrollTop+=1;   
                    if(preTop >= scrollDiv.scrollHeight || preTop==scrollDiv.scrollTop){   
                        scrollDiv.scrollTop = 0;   
                    }   
                }else{   
                //clearInterval(intervalFunction);    清除定时器
                //setTimeout(start,delay);    //继续定时器
                }  
                scrollDiv.scrollTop+=1; 
                
                scrollDiv.onmouseover=function() {clearInterval(intervalFunction)}; 
                scrollDiv.onmouseout=function() {intervalFunction=setInterval(scrolling,speed)};  
            };
            
            setTimeout(start,delay);    
        };
        marques(40,150,500);    
    /**marquees(一次滚动高度,速度,停留时间);**/    
</script>
  </body>
</html>
      
