<div class="md-content " >
                <!-- 用户头像-->
                <div class="img" >
                    <img class="headimg" src="../../static/assets/images/wifiuserimgs/headimg/{{ current_user.local_ip }}.jpg"  alt="picture"/>
                </div>
                <!-- 用户各种信息-->
                <div class="popup bg">
                    <!-- 基本信息-->
                    <div class="popup-title" >
                            <ul>
                                <li id="wechat_id" style="display:none">{{ current_user.id }}</li>
                                <li>微信昵称：<span>{{ current_user.wechat_nickname }}</span></li>
                                <li>操作系统：<span>{{ latest5_behavior.0.0.client }}</span></li>
                                <li style="margin-right:0;">IP地址: <span>{{ current_user.local_ip }}</span></li>
                            </ul>
                        </div>
                    <!-- 上网行为-->
                    <div class="popup-behavior">
                        <ul>
                            <li>最近上网行为：
                                    {% for latest_behavior in latest5_behavior %}
                                    <span>{{ latest_behavior.0.application }}<span style="color:#999999;"> >> </span></span>
                                    {% endfor %}
                                </li>
                        </ul>
                    </div>
                    <div class="timeimg">
                        <img src="../../static/assets/images/backgrounds/top.png"  alt="picture"/>
                    </div>
                    <div class="popup-box">
                        <!-- 浏览时间轴-->
                        <div class="popup-timeline">
                            <div class="timeline" style="width:90%;">
                                <ul>
                                    <li class="list list-right list-circle-one">
                                        <span class="txt-box">
                                            <p class="txt">{{ latest5_behavior.0.0.access_date|date:'Y-m-d' }} {{ latest5_behavior.0.0.access_time }}</p>
                                            <p>访问 {{ latest5_behavior.0.0.application }}<br>
                                                {% for key, value in latest5_behavior.0.1.iteritems %}
                                                <a class="txt-key" >{{ key }} :</a> {{ value }}<br>
                                                {% endfor %}
                                            </p>
                                        </span>
                                    </li>
                                    <li class="list list-left list-circle-two">
                                        <span class="txt-box">
                                            <p class="txt">{{ latest5_behavior.1.0.access_date|date:'Y-m-d' }} {{ latest5_behavior.1.0.access_time }}</p>
                                            <p>访问 {{ latest5_behavior.1.0.application }}<br>
                                                {% for key, value in latest5_behavior.1.1.iteritems %}
                                                <a class="txt-key">{{ key }}:</a> {{ value }}<br>
                                                {% endfor %}
                                            </p>
                                        </span>

                                    </li>
                                    <li class="list list-right list-circle-three">

                                        <span class="txt-box">
                                            <p class="txt">{{ latest5_behavior.2.0.access_date|date:'Y-m-d' }} {{ latest5_behavior.2.0.access_time }}</p>
                                            <p>访问 {{ latest5_behavior.2.0.application }}<br>
                                                {% for key, value in latest5_behavior.2.1.iteritems %}
                                                <a class="txt-key">{{ key }} :</a> {{ value }}<br>
                                                {% endfor %}
                                            </p>
                                        </span>
                                    </li>
                                    <li class="list list-left list-circle-four">
                                        <span class="txt-box">
                                            <p class="txt">{{ latest5_behavior.3.0.access_date|date:'Y-m-d' }} {{ latest5_behavior.3.0.access_time }}</p>
                                            <p>访问 {{ latest5_behavior.3.0.application }}<br>
                                                {% for key, value in latest5_behavior.3.1.iteritems %}
                                                <a class="txt-key">{{ key }} :</a> {{ value }}<br>
                                                {% endfor %}
                                            </p>
                                        </span>

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- 浏览时间轴 end-->
                    </div>
                    <!-- 用户画像-->
                    <div class="popup-img">
                            <span>
							{% for newest_img in newest_sniff_imgs%}
                            <img src="../../static/assets/images/wifiuserimgs/{{ current_user.local_ip }}/{{ newest_img }}"  alt="picture"/>
                            {% endfor %}
                            </span>
                        </div>
                    <!-- 用户画像 end-->
                </div>
                <!-- 用户各种信息 end-->
</div>
