{% for wifiuser, behavior in sheep_users.iteritems %}
<tr class="odd gradeA" >
    <td class="img-size" ><img src="../../static/assets/images/wifiuserimgs/{{ wifiuser.local_ip }}/headimg/headimg.jpg"  alt="picture" /></td>
    <td class="sort-alpha-two">{{ wifiuser.wechat_nickname }}</td>
    {% if behavior.application %}
        {% ifequal behavior.client '' %}
        <td class="sort-amount-width">Unknown</td>
        {% else %}
        <td class="sort-amount-width">{{ behavior.client }}</td>
        {% endifequal %}
        <td> 正在使用 <span style="color:#35ff8f;">{{ behavior.application }}，</span>进行 <span style="color:#35ff8f;">{{ behavior.behavior }}</span></td>
    {% else %}
        <td class="sort-amount-width">Unknown</td>
        <td> 暂无操作 </td>
    {% endif %}
</tr>
{% endfor %}
